# Copy this file to .env and fill in your values

# Google Cloud
VERTEX_PROJECT_ID=wheaty-hackathon
VERTEX_LOCATION=us-central1
GCS_BUCKET=wheatee-crop-images

# MongoDB Atlas
MONGO_URI=mongodb+srv://younassadat05_db_user:GQDR8nnBs2NPK3EL@wheatee-cluster.ayneck3.mongodb.net/wheatee_db?appName=wheatee-cluster

# Server
PORT=8080
